$primary-color-one: rgb(113, 105, 255);
$primary-color-two: rgb(96, 88, 242);
$primary-color-three: rgb(59, 51, 199);
$primary-color-four: rgb(226, 225, 254);
$primary-color-five:rgb(84,82,123);
$secondary-color: #fea41c;
$error-color: #fb6363;
$green:#04D1AE;
$grey: rgb(112, 112, 112);
$grey-light: rgb(242, 242, 248);
$grey-dark: rgb(211, 211, 211);
$blackish:rgb(44, 42, 89);
