.mainTab{
    position: fixed;
    width: 79vw;
    top: 50%;
    min-height: 71vh;
    left: 58%;
    padding: 20px 50px 30px;
    border-radius: 10px;
    transform: translate(-50%, -50%);
    /* border: 1px solid; */
    box-shadow: 0px 2px 11px -9px;
}

.text-underline{
    text-decoration: underline;
}

.bottom-button{
    width: 164px;
    /* background: radial-gradient(black, transparent); */
    position: absolute;
    padding: 25px 10px;
    text-align: center;
    right: 0px;
    bottom: -10px;
}

.br-4{
    border-radius: 4px;
}

.button{
    background-color: #7169ff;
    color: #fff;
}

.top-nav{
    background-color: #7169ff;
    color: #fff;
    padding: 10px;
    border-radius: 4px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 3px;
  }
  
  tr:nth-child(even) {
    background-color: rgba(123, 123, 233, 0.1);
  }
.table-div{
    padding-top: 20px;
    padding-bottom: 40px;
    overflow-y: auto;
}  
.close-button-style{
    position: fixed;
    top: 12px;
    right: 12px;
}
.editIcon{
    width:35px;
}
.text-center{
    text-align: center;
}
.border-bottom{
    border-bottom: 1px solid #000;
}
.save-button-style {
    position: fixed;
    bottom: 0px;
    right: 0px;
    padding: 4px 20px;
    border-radius: 4px;
    margin: 10px;
    background-color: #7169ff;
    color: #fff;
    box-shadow: 0 0 10px -6px #000;
}
.pointer{
    cursor: pointer;
}

.common-close-button{
    width: 14px;
}

.multiple-select-style{
    height: 38px;
    padding-left: 10px;
    margin-left: 10px;
    border-radius: 4px;
    background-color: rgba(100, 100, 100, 0.1);
    font-size: 12px;
}

.single-select-style{
    padding-left: 10px;
    margin-left: 10px;
    border-radius: 4px;
    background-color: rgba(100, 100, 100, 0.1);
    font-size: 12px;
}

.py-10{
    padding-top: 10px;
    padding-bottom: 10px;
}

.wd-184{
    width: 184px;
}
.fs-15{
    font-size: 15px;
}
table tr th{
    border: 1px solid #ccc;
    background-color: rgba(100, 100, 100, 0.1);
    color: rgba(100, 100, 100, 0.5);
    font-weight: normal;
    padding: 10px 0px;
    text-align: center;
}
table tr td{
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    text-align: center;
    padding: 10px 0px;
}
.table-div{
    max-height: 385px;
}
.py-40{
    padding: 40px 0px;
}
.mx-3{
    margin-left: 3px;
}
.eyeIcon{
    width: 20px;
}